@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';

// variables
$ylwBtn:#ffcb07;


//

body {
  border: 0;
  margin: 0;
  width: 100vw;
  background-color: grey;
}

.container {
  width: 100vw;
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: none;
  flex-direction: column;
}

.nav {
  display: flex;
  height: 80px;
  width: 100vw;
  background-color: black;
  // align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.logo_img {
  height: 40px;
  margin: 15px 15px;
}

.menue_buttons {
  margin: 15px 30px;
  display: flex;
  justify-content: flex-start;
  align-self: baseline;
}

button {
  margin: 0;
  padding: 15px;
  font-family: arial;
  letter-spacing: .5px;
  font: {
    size: 12px;
    weight: bold;
  }
}

.b-yellow {
  background-color: $ylwBtn;
  border: 1px solid white;
  transition: color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.b-yellow:hover {
  // transition-property: background-color, color;
  transition-duration: .2s;
  background-color: #2ba6cb;
  // background-color: fade-in(#2ba6cb, 1);
  color: white;
}

.b-black {
  background-color: #231f20;
  color: white;
  border: 0;
}

.hero-img {
  width: 100vw;
}
